:root{
    --colorPrincipal:#2FFF29;
    --plomo:#212830;
    --azulvsCode:#101E2C;
    --fuente: "Rubik", sans-serif;
}

html{
    box-sizing: border-box;
    font-size: 62.5%;
    font-family: var(--fuente);
    background-color: var(--azulvsCode);        
}

*,*::before,*::after{
    box-sizing: inherit;
}
.contenedor{
    width: min(95%,110rem);
    margin: 0 auto;
    /*background-color: var(--colorPrincipal);*/
}
.header{
    /*background-color: var(--colorPrincipal);    */
}
.header__grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding-top: 2rem;
    column-gap: 0.5rem;
    /*padding-bottom: 2rem;*/
}
.no-margin{
    margin: 0;
}
.header__grid__espacio:nth-child(1){
    grid-column: 1/2;
    grid-row: 1/2;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.header__grid__espacio:nth-child(1) h1{
    text-transform: capitalize;
    font-weight: bold;
    font-size: 3rem;
    margin-top: 1rem;
    color: white;
    font-family: var(--fuente);
}
.header__grid__espacio:nth-child(2) h1{
    text-transform: capitalize;
    font-weight: bold;
    font-size: 3rem;
    margin-top: 1rem;
    color: white;
    font-family: var(--fuente);
}
.header__grid__espacio:nth-child(2){
    grid-column: 2/3;
    grid-row: 1/2;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.header__input input{
    width: 100%;
    height: 4rem;
    border-radius: 1rem;
    border: solid 0.2rem var(--plomo);
    font-size: 2rem; 
    margin-top: 0.2rem;   
}

.header__grid__espacio:nth-child(3){
    grid-column: 3/4;
    grid-row: 1/2;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header__opciones{
    margin: 0.5rem 0.5rem;
    display: flex;
    justify-content: space-evenly;
}
.header__opciones a{
    text-transform: uppercase;
    text-decoration: none;
    height: 3.5rem;
    font-size: 2rem;        
}
.contenedor__tabla{    
    margin-top: 1.5rem;
    width: min(100%,110rem);        
    padding: 1.5rem 3rem 3rem 3rem;              
    background-color: white;    
    border-radius: 2rem;
}
.tabla{
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;      
}
.tabla thead{        
    font-size: 2.3rem;
    text-align: start;    
}
.tabla th{
    padding-bottom: 0.5rem;
    border-bottom: solid 0.2rem var(--plomo);
    font-weight: bold;        
}
.tabla tbody{
    font-size: 1.8rem;
}
.tabla td{
    text-align: start;
    padding: 0.5rem 0.8rem 0.5rem 0;
    border-bottom: solid 0.05rem var(--plomo);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.tabla th:nth-child(1){
    width: 2rem;
}
.tabla th:nth-child(2){
    width: 7rem;
}
.tabla th:nth-child(3){
    width: 3rem;
}
.tabla th:nth-child(4){
    width: 4rem;
}
.tabla th:nth-child(5){
    width: 6rem;
}
.tabla th:nth-child(6){
    width: 8rem;
}
.tabla th:nth-child(7){
    width: 5rem;
}