{% extends 'layout1.html' %}
{% block titulo %}Articulos Inventario{% endblock %}
{% block contenido %}
<body class="no-margin">
    <header class="header">
        <div class="contenedor">
            <div class="header__grid">
                <div class="header__grid__espacio">
                    <h1 class="no-margin">Inventarios-QR</h1>
                </div>
                <div class="header__grid__espacio">
                    <h1 class="no-maring">Nombre del Articulo</h1>                  
                </div>                
                <div class="header__grid__espacio">                    
                    <div>
                        <nav class="header__opciones">                            
                            <a href="#">
                            <svg
                            xmlns="http://www.w3.org/2000/svg"
                            width="40"
                            height="40"
                            viewBox="0 0 24 24"
                            fill="none"
                            stroke="#F9FAFB"
                            stroke-width="2.5"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            >
                            <path d="M11.5 21h-5.5a2 2 0 0 1 -2 -2v-12a2 2 0 0 1 2 -2h12a2 2 0 0 1 2 2v4.5" />
                            <path d="M16 3v4" />
                            <path d="M8 3v4" />
                            <path d="M4 11h16" />
                            <path d="M18 18m-3 0a3 3 0 1 0 6 0a3 3 0 1 0 -6 0" />
                            <path d="M20.2 20.2l1.8 1.8" />
                            </svg>
                            </a>
                            <a href="#">                            
                            <svg
                            xmlns="http://www.w3.org/2000/svg"
                            width="40"
                            height="40"
                            viewBox="0 0 24 24"
                            fill="none"
                            stroke="#F9FAFB"
                            stroke-width="2.5"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            >
                            <path d="M14 8v-2a2 2 0 0 0 -2 -2h-7a2 2 0 0 0 -2 2v12a2 2 0 0 0 2 2h7a2 2 0 0 0 2 -2v-2" />
                            <path d="M9 12h12l-3 -3" />
                            <path d="M18 15l3 -3" />
                            </svg>
                            </a>
                        </nav>                        
                    </div>
                </div>                
            </div>            
        </div>
    </header>
    <main>
        <div class="contenedor">
            <div class="contenedor__formulario">
                <form method="post">

                    <button type="submit">Agregar</button>
                </form>
                
            </div>            
        </div>
    </main>    
</body>
{% endblock %}